@font-face {
    font-family: 'Metropolis';
    src: url("fonts/Metropolis-Regular.woff");
    font-weight: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url("fonts/Metropolis-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: "Metropolis";
    src: url("fonts/Metropolis-SemiBold.woff");
    font-weight: 500;
}

body {
    background: #e9e9e9;
    font-family: "Metropolis", Arial, Helvetica, sans-serif;
}

a {
    color: #688bf2;
    text-decoration: none;
    font-weight: bold;
}

strong {
    color: #737373
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    color: #737373;
    margin: 50px 0 50px
}

header {
    flex-direction: column;
}

.terms {
    background: white;
    padding: 50px 100px 50px 100px;
    margin-top: 30px;
    max-width: 700px;
    text-align: justify;
    box-shadow: 1px 2px 8px rgba(117, 117, 117, 0.3);
    line-height: 20px;
}

.terms p {
    color: #999898;
    font-weight: 500;
    font-size: 14px;
}

.terms h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
}

ol {
    list-style: decimal;
    list-style-position: inside;
}

li {
    font-weight: bold;
    font-size: 19px;
    margin-top: 40px;
}

.inner-list {
    list-style: inside;
    font-size: 16px;
}

.inner-list li {
    font-weight: 500;
    font-size: 14px;
    margin-top: 5px;
    color: #999898;
}

@media screen and ( max-width: 1023px) {
    .terms {
        max-width: 350px;
        padding: 50px;
    }
}


  